.demon_sl {
    margin-top: 50px;
    width: 300px;
    height: 300px;
    padding-left:100px;
}

/*.body-image{*/
/*    background-image: url("https://w.forfun.com/fetch/5b/5bf52695d05bc4e78603778298ffe60a.jpeg");*/
/*}*/


.container{
    background-image: url("https://phonoteka.org/uploads/posts/2021-05/1620974389_22-phonoteka_org-p-anime-tyan-na-zadnii-fon-24.jpg");
    /*background-image: url("https://phonoteka.org/uploads/posts/2021-05/1620974389_22-phonoteka_org-p-anime-tyan-na-zadnii-fon-24.jpg");*/
}


